body {
  background-color: Lightgray;
}

h1 {
  color: black;
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
}


.header {
  background-color: ivory;
  padding-left: 10px;
  border: 1px solid black;
}

.contact {
  font-size: 14px; 
}

p,li {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.skillstext {
  column-count: 3;
  column-gap: 10px;
  column-rule-style: solid;
  column-rule-width: 2px;
  column-rule-color: black;
}
